* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    padding: 25px;
    background: rgb(116,63,251);
    background: radial-gradient(circle, rgba(116,63,251,1) 0%, rgba(70,153,252,1) 47%);         
    text-align: center ;

}

.icons {
    max-width: 25%;
    height: auto;
}

.fiveDayForecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.histBtn {
border-color: rgb(116,63,251);
background-color: rgb(116,63,251);
background: radial-gradient(circle, rgba(116,63,251,1) 0%, rgba(70,153,252,1) 47%);    
color: white;
}
